wadls/bank.xml

<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:prefix1="http://service.parabank.parasoft.com/">
    <grammars>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://service.parabank.parasoft.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.parabank.parasoft.com/">
            <xs:import namespace=""/>
            <xs:element name="loanResponse" type="loanResponse"/>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified">
            <xs:element name="account" type="account"/>
            <xs:element name="customer" type="customer"/>
            <xs:element name="position" type="position"/>
            <xs:element name="transaction" type="transaction"/>
            <xs:complexType name="customer">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="firstName" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastName" type="xs:string"/>
                    <xs:element minOccurs="0" name="address" type="address"/>
                    <xs:element minOccurs="0" name="phoneNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="ssn" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="address">
                <xs:sequence>
                    <xs:element minOccurs="0" name="street" type="xs:string"/>
                    <xs:element minOccurs="0" name="city" type="xs:string"/>
                    <xs:element minOccurs="0" name="state" type="xs:string"/>
                    <xs:element minOccurs="0" name="zipCode" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="account">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="customerId" type="xs:int"/>
                    <xs:element minOccurs="0" name="type" type="accountType"/>
                    <xs:element minOccurs="0" name="balance" type="xs:decimal"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="transaction">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="accountId" type="xs:int"/>
                    <xs:element minOccurs="0" name="type" type="transactionType"/>
                    <xs:element minOccurs="0" name="date" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="amount" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="description" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="position">
                <xs:sequence>
                    <xs:element name="positionId" type="xs:int"/>
                    <xs:element name="customerId" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="symbol" type="xs:string"/>
                    <xs:element name="shares" type="xs:int"/>
                    <xs:element minOccurs="0" name="purchasePrice" type="xs:decimal"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="loanResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="responseDate" type="xs:dateTime"/>
                    <xs:element name="loanProviderName" type="xs:string"/>
                    <xs:element name="approved" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                    <xs:element minOccurs="0" name="accountId" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="accountType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="CHECKING"/>
                    <xs:enumeration value="SAVINGS"/> 
                    <xs:enumeration value="LOAN"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="transactionType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Credit"/>
                    <xs:enumeration value="Debit"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
    </grammars>
    <resources base="http://localhost:8081/parabank/services/bank">
        <resource path="/accounts/{accountId}">
            <param name="accountId" style="template" type="xs:int"/>
            <method name="GET" >
                <doc xmlns:doc="http://docbook.org/ns/docbook"  xml:lang="EN" title="Get Account details for accountId">
                    <doc:para role="shortdesc">Get Account details for accountId.</doc:para>
                </doc>
                <response status="200">
                    <representation mediaType="application/json">
                    </representation>
                </response>
            </method>
        </resource>
        <resource path="/accounts/{accountId}/transactions">
            <param name="accountId" style="template" type="xs:int"/>
            <method name="GET">
                <doc xmlns:doc="http://docbook.org/ns/docbook"  xml:lang="EN" title="Get transaction details for accountId">
                    <doc:para role="shortdesc">Get transaction details for accountId.</doc:para>
                </doc>
                <response status="200">
                    <representation mediaType="application/json"/>
                </response>
            </method>
        </resource>
        <resource path="/accounts/{accountId}/transactions/amount/{amount}">
            <param name="accountId" style="template" type="xs:int"/>
            <param name="amount" style="template"/>
            <method name="GET">
                <doc xmlns:doc="http://docbook.org/ns/docbook"  xml:lang="EN" title="Get transactions with amount for accountId">
                    <doc:para role="shortdesc">Get transactions with amount for accountId.</doc:para>
                </doc>
                <response status="200">
                    <representation mediaType="application/json"/>
                </response>
            </method>
        </resource>
        <resource path="/accounts/{accountId}/transactions/fromDate/{fromDate}/toDate/{toDate}">
            <param name="accountId" style="template" type="xs:int"/>
            <param name="fromDate" style="template" type="xs:string"/>
            <param name="toDate" style="template" type="xs:string"/>
            <method name="GET">
                <doc xmlns:doc="http://docbook.org/ns/docbook"  xml:lang="EN" title="Get transactions within a date range for accountId">
                    <doc:para role="shortdesc">Get transactions within a date range for accountId.</doc:para>
                </doc>
                <response status="200">
                    <representation mediaType="application/json"/>
                </response>
            </method>
        </resource>
        <resource path="/accounts/{accountId}/transactions/month/{month}/type/{type}">
            <param name="accountId" style="template" type="xs:int"/>
            <param name="month" style="template" type="xs:string"/>
            <param name="type" style="template" type="xs:string"/>
            <method name="GET">
                <doc xmlns:doc="http://docbook.org/ns/docbook"  xml:lang="EN" title="Get transactions of specific type within a month for accountId">
                    <doc:para role="shortdesc">Get transactions of specific type within a month for accountId.</doc:para>
                </doc>
                <response status="200">
                    <representation mediaType="application/json"/>
                </response>
            </method>
        </resource>
        <resource path="/accounts/{accountId}/transactions/onDate/{onDate}">
            <param name="accountId" style="template" type="xs:int"/>
            <param name="onDate" style="template" type="xs:string"/>
            <method name="GET">
                <doc xmlns:doc="http://docbook.org/ns/docbook"  xml:lang="EN" title="Get transactions of specific date for accountId">
                    <doc:para role="shortdesc">Get transactions of specific date for accountId.</doc:para>
                </doc>
                <response status="200">
                    <representation mediaType="application/json"/>
                </response>
            </method>
        </resource>
        <resource path="/cleanDB">
            <method name="POST">
                <doc xmlns:doc="http://docbook.org/ns/docbook"  xml:lang="EN" title="Clear out the database">
                    <doc:para role="shortdesc">Clear out the database.</doc:para>
                </doc>
                <response status="204"/>
            </method>
        </resource>
        <resource path="/createAccount">
            <method name="POST">
                <doc xmlns:doc="http://docbook.org/ns/docbook"  xml:lang="EN" title="Create new Account">
                    <doc:para role="shortdesc">Create a new account of specified type for the customerId populate it with the money from the fromAccountId.</doc:para>
                </doc>
                <request>
                    <param name="customerId" style="query" type="xs:int"/>
                    <param name="newAccountType" style="query" type="xs:int"/>
                    <param name="fromAccountId" style="query" type="xs:int"/>
                </request>
                <response status="200">
                    <representation mediaType="application/json"/>
                </response>
            </method>
        </resource>
        <resource path="/customers/update/{customerId}/{firstName}/{lastName}/{street}/{city}/{state}/{zipCode}/{phoneNumber}/{ssn}/{username}/{password}">
            <param name="customerId" style="template" type="xs:int"/>
            <param name="firstName" style="template" type="xs:string"/>
            <param name="lastName" style="template" type="xs:string"/>
            <param name="street" style="template" type="xs:string"/>
            <param name="city" style="template" type="xs:string"/>
            <param name="state" style="template" type="xs:string"/>
            <param name="zipCode" style="template" type="xs:string"/>
            <param name="phoneNumber" style="template" type="xs:string"/>
            <param name="ssn" style="template" type="xs:string"/>
            <param name="username" style="template" type="xs:string"/>
            <param name="password" style="template" type="xs:string"/>
            <method name="POST">
                 <doc xmlns:doc="http://docbook.org/ns/docbook"  xml:lang="EN" title="Update customer information">
                    <doc:para role="shortdesc">Update customer information.</doc:para>
                </doc>
               <response status="200">
                    <representation mediaType="application/xml">
                        <param name="result" style="plain" type="xs:string"/>
                    </representation>
                    <representation mediaType="application/json">
                        <param name="result" style="plain" type="xs:string"/>
                    </representation>
                </response>
            </method>
        </resource>
        <resource path="/customers/{customerId}">
            <param name="customerId" style="template" type="xs:int"/>
            <method name="GET">
                <doc xmlns:doc="http://docbook.org/ns/docbook"  xml:lang="EN" title="Get customer information">
                    <doc:para role="shortdesc">Get customer information.</doc:para>
                </doc>
               <response status="200">
                    <representation mediaType="application/json"/>
                </response>
            </method>
        </resource>
        <resource path="/customers/{customerId}/accounts">
            <param name="customerId" style="template" type="xs:int"/>
            <method name="GET">
                <doc xmlns:doc="http://docbook.org/ns/docbook"  xml:lang="EN" title="Get customer accounts">
                    <doc:para role="shortdesc">Get customer accounts.</doc:para>
                </doc>
                <response status="200">
                    <representation mediaType="application/json"/>
                </response>
            </method>
        </resource>
        <resource path="/customers/{customerId}/buyPosition">
            <param name="customerId" style="template" type="xs:int"/>
            <method name="POST">
                <doc xmlns:doc="http://docbook.org/ns/docbook"  xml:lang="EN" title="Execute a buy order">
                    <doc:para role="shortdesc">Execute a buy order.</doc:para>
                </doc>
                <request>
                    <param name="accountId" style="query" type="xs:int"/>
                    <param name="name" style="query" type="xs:string"/>
                    <param name="symbol" style="query" type="xs:string"/>
                    <param name="shares" style="query" type="xs:int"/>
                    <param name="pricePerShare" style="query"/>
                </request>
                <response status="200">
                    <representation mediaType="application/json"/>
                </response>
            </method>
        </resource>
        <resource path="/customers/{customerId}/positions">
            <param name="customerId" style="template" type="xs:int"/>
            <method name="GET">
                 <doc xmlns:doc="http://docbook.org/ns/docbook"  xml:lang="EN" title="List positions for a customer">
                    <doc:para role="shortdesc">List positions for a customer.</doc:para>
                </doc>
                <response status="200">
                    <representation mediaType="application/json"/>
                </response>
            </method>
        </resource>
        <resource path="/customers/{customerId}/sellPosition">
            <param name="customerId" style="template" type="xs:int"/>
            <method name="POST">
                 <doc xmlns:doc="http://docbook.org/ns/docbook"  xml:lang="EN" title="Execute a sell order">
                    <doc:para role="shortdesc">Execute a sell order.</doc:para>
                </doc>
                <request>
                    <param name="accountId" style="query" type="xs:int"/>
                    <param name="positionId" style="query" type="xs:int"/>
                    <param name="shares" style="query" type="xs:int"/>
                    <param name="pricePerShare" style="query"/>
                </request>
                <response status="200">
                    <representation mediaType="application/json"/>
                </response>
            </method>
        </resource>
        <resource path="/deposit">
            <method name="POST">
                <doc xmlns:doc="http://docbook.org/ns/docbook"  xml:lang="EN" title="Deposit funds">
                    <doc:para role="shortdesc">Deposit specified amount into specified account id.</doc:para>
                </doc>
               <request>
                    <param name="accountId" style="query" type="xs:int"/>
                    <param name="amount" style="query"/>
                </request>
                <response status="200">
                    <representation mediaType="application/xml">
                        <param name="result" style="plain" type="xs:string"/>
                    </representation>
                    <representation mediaType="application/json">
                        <param name="result" style="plain" type="xs:string"/>
                    </representation>
                </response>
            </method>
        </resource>
        <resource path="/initializeDB">
            <method name="POST">
                <doc xmlns:doc="http://docbook.org/ns/docbook"  xml:lang="EN" title="Intialize database">
                    <doc:para role="shortdesc">Intialize database with some accounts.</doc:para>
                </doc>
                <response status="204"/>
            </method>
        </resource>
        <resource path="/login/{username}/{password}">
            <param name="username" style="template" type="xs:string"/>
            <param name="password" style="template" type="xs:string"/>
            <method name="GET">
                <doc xmlns:doc="http://docbook.org/ns/docbook"  xml:lang="EN" title="Login">
                    <doc:para role="shortdesc">Login into the Parabank (john/demo).</doc:para>
                </doc>
                <response status="200">
                    <representation mediaType="application/json"/>
                </response>
            </method>
        </resource>
        <resource path="/positions/{positionId}">
            <param name="positionId" style="template" type="xs:int"/>
            <method name="GET">
                <doc xmlns:doc="http://docbook.org/ns/docbook"  xml:lang="EN" title="Get Position">
                    <doc:para role="shortdesc">Get Position by positionId.</doc:para>
                </doc>
                <response status="200">
                    <representation mediaType="application/json"/>
                </response>
            </method>
        </resource>
        <resource path="/positions/{positionId}/{startDate}/{endDate}">
            <param name="positionId" style="template" type="xs:int"/>
            <param name="startDate" style="template" type="xs:string"/>
            <param name="endDate" style="template" type="xs:string"/>
            <method name="GET">
                <doc xmlns:doc="http://docbook.org/ns/docbook"  xml:lang="EN" title="Get Positions for a range of dates">
                    <doc:para role="shortdesc">Get Position by positionId within a range of dates.</doc:para>
                </doc>
                <response status="200">
                    <representation mediaType="application/json"/>
                </response>
            </method>
        </resource>
        <resource path="/requestLoan">
            <method name="POST">
                <doc xmlns:doc="http://docbook.org/ns/docbook"  xml:lang="EN" title="Request a loan">
                    <doc:para role="shortdesc">Request a loan in the passed amount for a customerId with the downpayment from a specified account.</doc:para>
                </doc>
                <request>
                    <param name="customerId" style="query" type="xs:int"/>
                    <param name="amount" style="query"/>
                    <param name="downPayment" style="query"/>
                    <param name="fromAccountId" style="query" type="xs:int"/>
                </request>
                <response status="200">
                    <representation mediaType="application/xml" element="prefix1:loanResponse"/>
                    <representation mediaType="application/json"/>
                </response>
            </method>
        </resource>
        <resource path="/setParameter/{name}/{value}">
            <param name="name" style="template" type="xs:string"/>
            <param name="value" style="template" type="xs:string"/>
            <method name="GET">
                <doc xmlns:doc="http://docbook.org/ns/docbook"  xml:lang="EN" title="Set a parameter">
                    <doc:para role="shortdesc">Set a parameter.</doc:para>
                </doc>
                <response status="204"/>
            </method>
        </resource>
        <resource path="/shutdownJmsListener">
            <method name="POST">
                <doc xmlns:doc="http://docbook.org/ns/docbook"  xml:lang="EN" title="Shut down the JMS listener">
                    <doc:para role="shortdesc">Shut down the JMS listener.</doc:para>
                </doc>
                <response status="204"/>
            </method>
        </resource>
        <resource path="/startupJmsListener">
            <method name="POST">
                <doc xmlns:doc="http://docbook.org/ns/docbook"  xml:lang="EN" title="Start the JMS listener">
                    <doc:para role="shortdesc">Start the JMS listener.</doc:para>
                </doc>
                <response status="204"/>
            </method>
        </resource>
        <resource path="/transactions/{transactionId}">
            <param name="transactionId" style="template" type="xs:int"/>
            <method name="GET">
                <doc xmlns:doc="http://docbook.org/ns/docbook"  xml:lang="EN" title="Get Transacton by id">
                    <doc:para role="shortdesc">Get Transacton by id.</doc:para>
                </doc>
                <response status="200">
                    <representation mediaType="application/json"/>
                </response>
            </method>
        </resource>
        <resource path="/transfer">
            <method name="POST">
                <doc xmlns:doc="http://docbook.org/ns/docbook"  xml:lang="EN" title="Transfer funds">
                    <doc:para role="shortdesc">Transfer the specified amount from one account to the other.</doc:para>
                </doc>
                <request>
                    <param name="fromAccountId" style="query" type="xs:int"/>
                    <param name="toAccountId" style="query" type="xs:int"/>
                    <param name="amount" style="query"/>
                </request>
                <response status="200">
                    <representation mediaType="application/xml">
                        <param name="result" style="plain" type="xs:string"/>
                    </representation>
                    <representation mediaType="application/json">
                        <param name="result" style="plain" type="xs:string"/>
                    </representation>
                </response>
            </method>
        </resource>
        <resource path="/withdraw">
            <method name="POST">
                <doc xmlns:doc="http://docbook.org/ns/docbook"  xml:lang="EN" title="Withdraw funds">
                    <doc:para role="shortdesc">Withdraw funds.</doc:para>
                </doc>
                <request>
                    <param name="accountId" style="query" type="xs:int"/>
                    <param name="amount" style="query"/>
                </request>
                <response status="200">
                    <representation mediaType="application/xml">
                        <param name="result" style="plain" type="xs:string"/>
                    </representation>
                    <representation mediaType="application/json">
                        <param name="result" style="plain" type="xs:string"/>
                    </representation>
                </response>
            </method>
        </resource>
    </resources>
</application>